# Fichiers d'environnement
.env
.scannerwork/

# Fichiers de configuration spécifiques à l'utilisateur
*.pyc
*.pyo
__pycache__/

# Fichiers spécifiques à l'éditeur
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers spécifiques à l'IDE (PyCharm, IntelliJ, etc.)
.idea/

# Fichiers de sauvegarde
*~
*.swp
*.swo
*.swn
*.bak
*.py.bak
*.db.bak

# Fichiers de logs
*.log

# Fichiers de base de données
db.sqlite3
*.db

# Fichiers statiques générés
staticfiles/
