{% load static %}
<script>
    $(document).ready(function () {
        var message = "{{ request.session.message }}";
        var messageType = "{{ request.session.message_type }}";

        if (message && messageType) {
            Swal.fire({
                icon: messageType,
                text: message
            }).then(function () {
                // Make an AJAX call to clear the message from the session
                $.ajax({
                    url: "{% url 'clear_messages' %}",
                    method: "GET",
                    success: function (data) {
                        // Do nothing or handle success if needed
                    },
                    error: function () {
                        console.error('Failed to clear messages');
                    }
                });
            });
        }
    });
</script>

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 mt-11" style="margin-left: 260px;">

    <div class="mb-4 col-span-full xl:mb-2">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <!-- Breadcrumb code... -->
        </nav>
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Live Elections</h1>
        {% for election in elections %}
        <div class="flex flex-row justify-between mt-5 ml-5">
            <h3 class="dark:text-white font-sans md:font-serif">{{ election.title }}</h3>
            <div class="flex flex-row justify-between">
                <div id="election-{{ election.id }}-countdown" data-start="{{ election.start_date.isoformat }}"
                    data-end="{{ election.end_date.isoformat }}" class="text-right mr-6 dark:text-white">
                    Debug: Start date: {{ election.start_date.isoformat }}, End date: {{ election.end_date.isoformat }}
                </div>
                <a href="{% url 'results' election_id=election.id %}"
                    class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-10">
                    View Results
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for election in elections %}
    <div class="election flex mb-10">
        {% for candidate in election.candidates.all %}
        <div
            class="w-48 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ml-4">
            <!-- Candidate content -->
            <div class="flex justify-end px-4 pt-4">
                <!-- Any additional election-specific content can go here -->
            </div>
            <div class="flex flex-col items-center pb-6 mt-3">
                <img class="w-16 h-16 mb-2 rounded-full shadow-lg" src="{{ candidate.picture.url }}"
                    alt="{{ candidate.name }} image" />
                <h5 class="mb-1 text-lg font-medium text-gray-900 dark:text-white">{{ candidate.name }}</h5>
                <span class="text-xs text-gray-500 dark:text-gray-400">{{ candidate.position }}</span>
                <div class="flex mt-2 md:mt-4">
                    {% if candidate.already_voted %}
                    <button disabled>Voted</button>
                    <span class="ml-2 text-green-500">Vote locked in!</span>
                    {% else %}
                    <form id="voteForm{{ candidate.id }}" onsubmit="return castVote('{{ candidate.id }}');"
                        action="{% url 'vote' election_id=election.id candidate_id=candidate.id %}" method="post"> {%csrf_token %}
                        <button type="submit"
                            class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Vote
                        </button>

                    </form>

                    <a href="{% url 'candidate_detail' candidate_id=candidate.id %}"
                        class="inline-flex items-center px-2.5 py-1.5 h-7 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-2">
                        View Detail
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div>

    <script>
        const countdownElements = document.querySelectorAll("[id^='election-']");
        countdownElements.forEach((element) => {
            const startDate = new Date(element.dataset.start);
            const endDate = new Date(element.dataset.end);
            console.log('Start Date:', startDate); // Debugging
            console.log('End Date:', endDate); // Debugging
            const countdownFunction = () => {
                const now = new Date();
                const differenceInTime = endDate.getTime() - now.getTime();

                // Check if the time difference is negative, i.e., the countdown has ended
                if (differenceInTime < 0) {
                    element.innerHTML = 'Voting is closed';
                    return;
                }

                let hours = Math.floor((differenceInTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((differenceInTime % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((differenceInTime % (1000 * 60)) / 1000);
                element.innerHTML = `${hours}h ${minutes}m ${seconds}s`;
            };
            countdownFunction();
            setInterval(countdownFunction, 1000);
        });
    </script>